In [1]:
!pip install requests
!pip install pandas

Requirement already satisfied: requests in /opt/conda/lib/python3.11/site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/conda/lib/python3.11/site-packages (from requests) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.11/site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/conda/lib/python3.11/site-packages (from requests) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.11/site-packages (from requests) (2023.7.22)
Requirement already satisfied: pandas in /opt/conda/lib/python3.11/site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /opt/conda/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.11/site-packages (from pandas) (1.24.4)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [14]:
import requests
import json
import pandas as pd

# Define the API URL
url = "http://app:80/get_blood_donors?blood_type=O%2B"

def print_blood_donors():
    response = requests.get(url)

    # Check if request was successful
    if response.status_code == 200:
        data = json.loads(response.text)

        # Construct dataframe
        rows = []
        for item in data:
            blood_type = item['blood_type']
            for donor in item['donors']:
                row = {
                    'blood_type': blood_type,
                    'name': donor['name'],
                    'age': donor['age'],
                    'phone_number': donor['phone_number']
                }
                rows.append(row)

        df = pd.DataFrame(rows)
        df = df[['blood_type', 'name', 'age', 'phone_number']]
    
        # Apply formatting
        styler = df.style.set_table_styles([
            {'selector': 'th', 'props': [('background-color', 'blue'), ('color', 'white')]}
        ])
        display(styler)

# Call the function
print_blood_donors()